<html>
    <body>
            <center><table bg color ="yellow">
                <tr<td colspan="2"><h2>DEALER DETAILS</h2></td></td>
                <tr><td>BOOK Name</td><td> {{bname}}</td></tr>
                <tr><td>Author</td><td> {{author}}</td></tr>
                <tr><td>Pages</td><td> {{pages}}</td></tr>
                <tr><td>Price</td><td> {{price}}</td></tr>
                <tr><td colspan="2"><center><a href="home">Another Book RESISTRATION</a></center></td></tr>
            </table>
            </center>

    </body>

</html>